
body {
	background-color: #e8ebf5;
}



/* buttons */

.blue-btn-color {
	background-color: #1688c2;
}

@media (hover: hover) {

	.blue-btn-color:hover {
		background-color: #0c77ae;
	}

}

.blue-btn-color:active {
	background-color: #0c77ae;
}

.facebook-btn,
.google-btn,
.apple-btn {
	padding: 1rem;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	color: white;
	font-weight: normal;
	transition: background-color .3s;
	background-color: #4267b2;
	display: block;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
}

.facebook-btn span,
.google-btn span,
.apple-btn span {
	font-weight: bold;
}

.facebook-btn i,
.google-btn i,
.apple-btn i {
	margin-right: 0.5rem;
}

.google-btn {
	border: 2px solid #51595e;
	color: #51595e;
	background-color: white;
}

.apple-btn {
	background-color: #000000;
}

@media (hover: hover) {

	.facebook-btn:hover {
		background-color: #5577ba;
	}

	.google-btn:hover {
		background-color: #e8e8e8;
	}

	.apple-btn:hover {
		background-color: #1c1c1c;
	}

}	

.facebook-btn:active {
	background-color: #5577ba;
}

.google-btn:active {
	background-color: #e8e8e8;
}

.apple-btn:active {
	background-color: #1c1c1c;
}

.blue-btn {
	padding: 0.5rem 1rem;
	margin: 1rem 0 0;
	background-color: #0397d6;
	border-radius: 3px;
	color: white;
	transition: background-color .3s;
	font-size: 14px;
	display: inline-block;
}

@media (hover: hover) {

	.blue-btn:hover {
		background-color: #0b84b7;
	}

}

.blue-btn:active {
	background-color: #0b84b7;
}

.transparent-btn {
	padding: 0.5rem 1rem;
	margin: 1rem 0 0;
	background-color: transparent;
	border-radius: 3px;
	color: #333333;
	transition: background-color .3s;
	font-size: 14px;
	display: inline-block;
}

@media (hover: hover) {

	.transparent-btn:hover {
		background-color: #eeeeee;
	}

}

.transparent-btn:active {
	background-color: #eeeeee;
}

/* the-end-of-buttons */



/* classes */

.mt-2-5 {
	margin-top: 2.5rem;
}

/* the-end-of-classes */



/* head-simple-slider */

#headSimpleSlider {
	margin:0 auto 0;
	height: 40vw;
	width: 100%;
}

#headSimpleSlider .fl-simple-slider-slide {
	position: relative;
}

#headSimpleSlider .simple-slide-img {
	width: 100%;
	height: auto;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.simple-slider-length-dot {
	background-color: white;
	height: 3px;
	width: 3px; 
	border-radius: 50%;
	margin: 0 5px 0;
}

#headSimpleSlider .simple-slide-info {
	display: none;
}

#headSimpleSlider .fl-simple-slider-dots-list {
	left: auto;
	right: 1rem;
	bottom: 1rem;
	width: auto;
}

#headSimpleSlider .fl-simple-slider-dot {
	width: 8px;
	height: 8px;
	background-color: white !important;
}

#headSimpleSlider .fl-simple-slider-dots-item:not(:last-child) {
	margin-right: 0.8rem;
}

#headSimpleSlider .fl-simple-slider-dot.fl-active {
	background-color: transparent !important;
	border: 2px solid white;
	box-sizing: content-box;
}

.simple-slide-md-link {
	position: absolute;
	top: 1rem;
	right: 1rem;
	margin: 0;
}

@media only screen and (min-width: 992px) {

	#headSimpleSlider {
		margin:0 auto 0;
		height: 25vw;
		width: 86%;
	}

	#headSimpleSlider .fl-simple-slider-dots-list {
		right: 2rem;
	}

	#headSimpleSlider .simple-slide-info {
		display: block;
		background-color: rgba(17, 36, 35, 0.7);
		width: 25%;
		height: 100%;
		padding: 1.5rem 2rem;
	}

	#headSimpleSlider .simple-slide-title {
		color: #1688c2;
		margin: 0;
	}

	#headSimpleSlider .simple-slide-text {
		color: white;
		margin: 0.5rem 0 0;
		font-size: 14px;
	}

	#headSimpleSlider .simple-slider-description-list {
		width: 100%;
		border-radius: 3px;
		border: 1px solid #605d5c;
		background-color: rgba(16, 16, 16, 0.7);
		padding: 0.5rem 1rem;
		color: rgb(16, 16, 16);
		box-sizing: border-box;
		margin: 1rem 0 0;
		white-space: normal;
		font-size: 12px;
	}

	#headSimpleSlider .simple-slider-description-list dt {
		font-weight: bold;
		color: #a5a3a3;
		display: inline-block;
		width: 20%;
	}

	#headSimpleSlider .simple-slider-description-list dd {
		color: #a5a3a3;
		display: inline-block;
		width: 50%;
	}

	#headSimpleSlider .simple-slider-description-list dt:not(:first-of-type) {
		margin-top: 0.3rem;
	}

	#headSimpleSlider .simple-slide-link {
		
	}

}

/* the-end-of-head-simple-slider */