
.fl-footer-list {
	margin: 1.5rem 0 0;
	text-align: center;
}

.fl-footer-link {
	color: #555555;
	background-color: #272727;
	transition: color .3s;
	font-size: 12px;
	padding: 3px 1rem;
	border: 1px solid #555555;
	border-radius: 1rem;
}

@media (hover: hover) {

	.fl-footer-link:hover {
		color: #1688c2 !important;
	}

}

.fl-footer-link:active {
	color: #1688c2 !important;
}