
.fl-header {
	position: relative;
	z-index: 10;
}

/* navbar */

.fl-navbar {
	padding: 0.7rem 1rem;
}

.fl-navbar .fl-navbar-brand,
.fl-navbar .fl-navbar-toggler,
.fl-navbar .fl-navbar-nav,
.fl-navbar .fl-navbar-links,
.fl-navbar-search-parent {
	margin-top: 0 !important;
}

@media (min-width: 992px) {

	.fl-navbar {
		padding: 0 7%;
	}

	.fl-navbar.fl-hidden-navbar {
		position: fixed;
		top: -65px;
		transition: none;
	}

	.fl-navbar.fl-new-styled-navbar {
		position: fixed;
		transition: top .7s;
		top: 0;
	}

}

/* the-end-of-navbar */



/* navbar-nav */

@media (min-width: 992px) {

	.fl-navbar-nav {
		margin-left: 50px;
		position: relative;
	}

	.fl-navbar-nav::before {
		content: " ";
		position: absolute;
		left: -24.4px;
		top: 22%;
		height: 56%;
		width: 0.6px;
		background-color: lightgrey;
		opacity: .4;
	}

	.fl-nav-item {
		height: 65px;
	}

	.fl-nav-link {
		height: 100%;
		line-height: 65px;
		position: relative;
	}

	.fl-nav-link.fl-active::before {
		content: " ";
		position: absolute;
		height: 3px;
		background-color: #1688c2;
		bottom: 2px;
		left: 0;
		width: 100%;
	}

}	

/* the-end-of-navbar-nav */



/* dropdown-menu */

@media (min-width: 992px) {

	.fl-dropdown-menu-con {
		padding-top: 3.5rem;
		top: 0 !important;
	}

	.fl-dropdown-menu {
		border-top: 1px solid #1688c2;
		padding: 0.8rem 1.3rem;
	}

}	

/* the-end-of-dropdown-menu */



/* navbar-links */

.fl-navbar-links {
	margin-left: auto;
}

.fl-navbar-links-item:not(:first-child) {
	margin-left: 1.5rem;
}

.fl-navbar-links-link {
	font-size: 1.5rem;
	transition: all .3s;
}

@media (hover: hover) {
	.fl-navbar-links-link:hover {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
}

@media (min-width: 992px) {

	.fl-navbar-links-link {
		font-size: 2rem;
	}

}

/* the-end-of-navbar-links */



/* navbar-search */

.fl-navbar-search-parent.fl-show {
	margin: 1rem 0 0 !important;
}

.fl-navbar-search-buttons-con {
	right: 0.4rem;
}

.fl-navbar-search-submit {
	font-size: 18px;
}

.fl-navbar-search-submit:disabled {
	color: #1688c2 !important;
}

.navbar-results-of-search-text-con {
	overflow: hidden;
	width: calc(100% - 30px - 1rem);
}

@media (min-width: 992px) {

	.fl-navbar-search-parent {
		transition: none !important;
		max-height: 1000px;
		opacity: 1;
		visibility: visible;
		margin: 0 0 0 1.5rem !important;
	}

	.fl-navbar-search-parent.fl-show {
		margin: 0 0 0 1.5rem !important;
	}

}

/* the-end-of-navbar-search */



/* md-menu */

@media (max-width: 991px) {

	.fl-navbar-toggler {
	    width: 35px;
	    height: 35px;
	    line-height: 35px;
	    margin-right: 1rem;
	}

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line,
	.fl-navbar-toggler-line::after {
		width: 16px;
		height: 2.5px;
	}

	.fl-header {
		position: relative;
	}

	.fl-md-menu {
		top: -100vh;
		left: 0;
		position: absolute;
		transition: top 1s;
		z-index: 0;
	}

	.fl-md-menu.fl-show {
		top: 100%;
	}

	.fl-md-menu-link.fl-active {
		width: 98%;
		margin-left: 1%;
		border-bottom: 3px solid #1688c2;
	}

	.fl-md-menu-dropdown-menu-con {
		max-height: 0;
		padding: 0 1rem;
	}

	.fl-md-menu-dropdown-menu-con.fl-show {
		margin-bottom: 1rem;
	}

}		

/* the-end-of-md-menu */



/* user-modal-con */

.user-modal-con .fl-modal-child {
	overflow: hidden;
	top: 0 !important;
	height: auto;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	-ms-flex-pack: start;
	align-content: flex-start;
	-ms-flex-line-pack: start;
	align-items: flex-start;
  	-ms-flex-align: start;
  	width: 100%;
	min-height: 100%;
	margin: 0;
	border-radius: 0;
}

.user-modal-con .fl-form {
	background-color: white;
	padding: 2rem;
	height: 100%;
	width: 100%;
}

.fl-modal-con-closer-in-modal-child {
	top: 1rem;
	right: 0.5rem;
	color: lightgrey;
	transition: color .3s, border-color .3s;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid lightgrey;
	cursor: pointer;
}

@media (hover: hover) {

	.fl-modal-con-closer-in-modal-child:hover {
		color: #0c77ae;
		border-color: #0c77ae;
	}

}	

.fl-modal-con-closer-in-modal-child:active {
	color: #0c77ae;
	border-color: #0c77ae;
}

.user-modal-con .fl-form-title {
	font-weight: bold;
	color: black;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.user-modal-con .fl-form-text {
	color: #51595e;
	text-align: center;
	margin-top: 0;
}

.modal-child-or-divider {
	width: 100%;
	text-align: center;
	margin: 2rem auto 0;
	color: #848383;
	position: relative;
	font-weight: normal;
}

.modal-child-or-divider::before,
.modal-child-or-divider::after {
	content: "";
	position: absolute;
	top: calc(50% - 0.2px);
	height: 0.4px;
	background-color: #848383;
	width: 46%;
}

.modal-child-or-divider::before {
	left: 0;
}

.modal-child-or-divider::after {
	right: 0;
}

.user-modal-con .fl-form-label {
	color: #51595e;
	font-weight: bold;
}

.user-modal-con .fl-form-input {
	border: 0;
	border-bottom: 1px solid #51595e;
	padding: 0.5rem;
	width: 100%;
	box-sizing: border-box;
	border-radius: 0;
	transition: border-color .3s;
}

.user-modal-con .fl-form-input:focus {
	border-color: #0c77ae;
}

.user-modal-con .fl-form-submit {
	font-weight: bold;
	font-size: 16px;
}

.user-modal-con .fl-form-link {
	font-weight: bold;
	color: #51595e;
	transition: color .3s;
}

@media (hover: hover) {

	.user-modal-con .fl-form-link:hover {
		color: #0c77ae;
	}

}

.user-modal-con .fl-form-link:active {
	color: #0c77ae;
}

.user-modal-forgot-password-link {
	font-weight: normal !important;
	position: absolute;
	right: 0;
	top: 0;
}

.user-modal-con .fl-modal-con-closer {
	visibility: hidden;
}

@media only screen and (min-width: 576px) {

	.user-modal-con .fl-modal-child {
		width: 83%;
		margin-top: 60px;
  		margin-bottom: 60px;
	}

}

@media only screen and (min-width: 992px) {

	.user-modal-con .fl-modal-child {
		border-radius: 0.5rem;
		width: 35%;
	}

	.fl-modal-con-closer-in-modal-child {
		top: 1.5rem;
		right: 1.5rem;
	}	

}	

/* the-end-of-user-modal-con */

